.create-appointments{
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 10px auto;
  .pageTitle{
    margin-top: 20px;
  }
  .formRow{
    display: flex;
    width: 100%;
  }
  .MuiFormGroup-root{
    flex-direction: row;
  }
  .price{
    color: #24be09;
    font-size: 25px;

  }
}
.radio-label-wrapper{
  display: flex;
  align-items: center;
  svg{
    width: 25px;
  }
  span{
    font-size: 14px;
    margin-left: 7px;
  }
}